body {
    background: linear-gradient(to right, #dfdddd, #bebd87); /* Ubah warna sesuai keinginan Anda */
    font-family: Arial, sans-serif; /* Untuk memastikan font yang konsisten */
    margin: 0;
    padding: 0;
}


img {
    border-radius: 50%; 
    width: 200px; 
    height: 200px;
}

